<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>协议记录</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="import" href="../common.html" id="common">
<style>
body {
    overflow-y: scroll;
}
</style>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">协议记录</div>
                            <div class="layui-card-body">
                                <table class="layui-table" id="contractmen-table-operate"
                                    lay-filter="contractmen-table-operate"></table>
                                     <script type="text/html" id="test-table-operate-barDemo">
                                <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="detail">协议详情</a>
                            </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../public/view_js/contractmen/contractmenTable.js"></script>
</body>
</html>